
.paging {
	background-color:#a7bff2;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:19px;
	font-weight:bold;
	padding:6px 10px;
	text-decoration:none;
	text-shadow:-3px 2px 0px #7a8eb9;
}
.paging:hover {
	background-color:#5972a7;
        color: whitesmoke;
}
.paging:active {
	position:relative;
	top:1px;
}

        